[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
azure-identity = "*"
azure-storage-blob = "*"
python-dotenv = "*"
streamlit = "*"
chromadb = "*"
langchain = "*"
langchain-community = "*"
langchain-text-splitters = "*"
numpy = "*"
alembic = "*"
pydantic_settings = "*"
psycopg2-binary = "*"


[dev-packages]

[requires]
python_version = "3.10"
