@import './tailwind.css';
@import './font.css';

body,
html,
#root {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;

  font-size: 14px;
  background-color: var(--background-primary, '#f6f6f8');
}

ul {
  list-style: disc;
  padding-left: 25px;
}

a.linkify {
  color: blue;
  text-decoration: underline;
}

a.linkify:visited {
  color: purple; /* Default for visited links */
}

a.linkify:hover {
  color: darkblue; /* A darker blue on hover */
  text-decoration: none; /* Or keep it, depending on your design */
}

a.linkify:active {
  color: red; /* A common default for active links */
}
