@import './tailwind.css';
@import './font.css';

body,
html,
#root {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;

  font-size: 14px;
  background-color: var(--background-primary, '#f6f6f8');
}

ul {
  list-style: disc;
  padding-left: 25px;
}
